.wrapper, .row {
  *zoom: 1; }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

@font-face {
  font-family: 'mochamattari';
  src: url("../fonts/mochamattari.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
h1 {
  color: #3D507E;
  font-family: mochamattari;
  font-size: 40px; }

h2 {
  color: #C4711D;
  font-family: mochamattari;
  font-size: 35px; }

h3 {
  color: #C4711D;
  font-family: mochamattari;
  font-size: 32px;
  margin-top: 10px; }

h4 {
  color: #C4711D;
  font-size: 25px;
  margin-top: 10px;
  font-weight: bold; }

.emphasis {
  color: #3D507E;
  font-weight: bold; }

.card-title {
  color: #3D507E;
  font-family: mochamattari; }

.slider-title {
  color: #3D507E;
  font-family: mochamattari;
  font-size: 60px; }

.button-main {
  background-color: #3D507E;
  color: white;
  margin-top: 10px;
  padding: 10px; }

.btn-large {
  font-family: mochamattari;
  font-size: 20px;
  height: 100%;
  margin: 15px;
  border-radius: 10;
  background-color: #3D507E;
  display: block; }

#donate a {
  align-content: center; }

#item-1 {
  background-image: url("../img/index.png");
  background-repeat: no-repeat;
  background-size: contain; }

#item-2 {
  background-image: url("../img/Arizona.jpg");
  background-repeat: no-repeat;
  background-size: contain; }

#item-3 {
  background-image: url("../img/Travis-Stuart.jpg");
  background-repeat: no-repeat;
  background-size: contain; }

.primary {
  background-color: #F0EEE9; }

#footer {
  border-style: ridge;
  border-color: #C4711D;
  border-width: 10px;
  border-radius: 10px; }

/* For testing only */
*:not(body):not(html):not(p) {
  box-sizing: border-box; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.bordered-box {
  border: solid 1px #3D507E; }

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

#content {
  margin-top: 20px; }

#donate {
  text-align: center;
  margin-bottom: 20px; }

body {
  background-color: #F0EEE9; }

.column-1 {
  width: 8.3333333333%; }

.column-2 {
  width: 16.6666666667%; }

.column-3 {
  width: 25%; }

.column-4 {
  width: 33.3333333333%; }

.column-5 {
  width: 41.6666666667%; }

.column-6 {
  width: 50%; }

.column-7 {
  width: 58.3333333333%; }

.column-8 {
  width: 66.6666666667%; }

.column-9 {
  width: 75%; }

.column-10 {
  width: 83.3333333333%; }

.column-11 {
  width: 91.6666666667%; }

.column-12 {
  width: 100%; }

.card-column {
  width: 30%;
  float: left;
  margin: 10px; }

@media only screen and (max-width: 780px) {
  .column-1 {
    width: 11.1111111111%; }

  .column-2 {
    width: 22.2222222222%; }

  .column-3 {
    width: 33.3333333333%; }

  .column-4 {
    width: 44.4444444444%; }

  .column-5 {
    width: 55.5555555556%; }

  .column-6 {
    width: 66.6666666667%; }

  .column-7 {
    width: 77.7777777778%; }

  .column-8 {
    width: 88.8888888889%; }

  .column-9 {
    width: 100%; }

  .wrapper {
    width: 95%; }

  .column-3 {
    width: 100%; }

  .column-4 {
    width: 100%; }

  .card-column {
    width: 45%;
    min-width: 200px;
    float: left;
    margin: 5px; } }
@media only screen and (max-width: 320px) {
  .column-1 {
    width: 8.3333333333%; }

  .column-2 {
    width: 16.6666666667%; }

  .column-3 {
    width: 25%; }

  .column-4 {
    width: 33.3333333333%; }

  .column-5 {
    width: 41.6666666667%; }

  .column-6 {
    width: 50%; }

  .column-7 {
    width: 58.3333333333%; }

  .column-8 {
    width: 66.6666666667%; }

  .column-9 {
    width: 75%; }

  .column-10 {
    width: 83.3333333333%; }

  .column-11 {
    width: 91.6666666667%; }

  .column-12 {
    width: 100%; }

  .wrapper {
    width: 95%;
    min-width: 320px; }

  .column-3 {
    width: 100%; }

  .column-9 {
    width: 100%; }

  .column-4 {
    width: 100%; }

  .card-column {
    width: 100%;
    min-width: 275px;
    float: none;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto; } }
#header {
  background-color: white; }
  #header img {
    border-style: ridge;
    border-color: #C4711D;
    border-width: 10px;
    border-radius: 10px; }

.nav-wrapper {
  background-color: #3D507E;
  border-color: #F0EEE9; }

nav a {
  color: #F0EEE9;
  font-weight: 100;
  font-family: mochamattari; }

/*# sourceMappingURL=styles.css.map */
