$primary-color: #3D507E;
$secondary-color: #C4711D;
$accent-one: #F0EEE9;
$accent-two: #37AD2B;

$font-family-mocha: 'mochamattari', sans-serif;

$grid-columns: 12;
$grid-max-width: 65em;

$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";
