$primary-color: #3D507E;
$secondary-color: #C4711D;
$accent-one: #F0EEE9;
$accent-two: #37AD2B;

$font-family-mocha: 'mochamattari', sans-serif;

// $grid-columns: 12;
$grid-max-width: 1000px;

$breakpoint-small: "only screen and (max-width: 320px)";
$breakpoint-medium: "only screen and (max-width: 780px)";
