.button-main {
  background-color: $primary-color;
  color: white;
  margin-top: 10px;
}

.btn-lg {
  font-family: mochamattari;
  font-size: 40px;
  height: 100%;
  margin-top: 0;
  border-radius: 0;
}
