.button-main {
  background-color: $primary-color;
  color: white;
  margin-top: 10px;
  padding: 10px;
}

.btn-large {
  font-family: mochamattari;
  font-size: 20px;
  height: 100%;
  margin: 15px;
  border-radius: 10;
  background-color: $primary-color;
  display: block;
}

#donate {
  // .btn {
  //   font-family: Encode sans-serif;
  //   padding: 0;
  //   background-color: $secondary-color;
  //   font-size: 20px;
  //   font-stretch: semi-condensed;
  //   font-weight: bold;
  //   height: auto;
  // }

  a {
    align-content: center;
  }
}
