.button-main {
  background-color: $primary-color;
  color: white;
  margin-top: 10px;
  padding: 10px;
}

.btn-lg {
  font-family: mochamattari;
  font-size: 40px;
  height: 100%;
  margin-top: 0;
  border-radius: 0;
}

#donate {
  .btn {
    font-family: Encode sans-serif;
    padding: 0;
    background-color: $secondary-color;
    font-size: 20px;
    font-stretch: semi-condensed;
    font-weight: bold;
    height: auto;
  }

  a {
    align-content: center;
  }
}
